<header>
  <nav>
    <ul>
      <li><a href="/home">LOGO</a></li>
      <div>
        <li>Hello USER</li>
      </div>
      <div>
        <li><a href="/user/settings">Settings</a></li>
        <li><a href="/user/signout">Sign Out</a></li>
      </div>
    </ul>
  </nav>
</header>