<header >
  <nav style="min-height: 10vh;"class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/dashboard"><img src="../../public/img/slak_logo_4.svg" alt="Slak-logo"></a>
      <div>
      <a class="navbar-brand" href="/dashboard">Home</a>
      <a class="navbar-brand" href="/users/settings">Settings</a>
      <a class="navbar-brand btn btn-outline-danger border-3" href="/users/logout">Sign out</a>
      </div>
    </div>
  </nav>
</header>