<ul class="nav flex-column bg-dark text-white">
    <li class="nav-item">
        <p class="nav-link">Online</p>
    </li>

    <li class="nav-item">
        <p class="nav-link">My chats</p>
    </li>

    <li>
        <ul class="nav">
            <% user.chat_rooms.forEach(chatRoom => { %>
            <li class="nav-item">
                <a 
                class="nav-link" 
                href="/chats/<%= chatRoom._id %>" 
                tabindex="-1" 
                aria-disabled="true"
                >
                    <%= chatRoom._id %>
                </a>
            </li>
            <% }); %>
        </ul>
    </li>

    <li class="nav-item">
        <a class="nav-link btn btn-primary" href="/chats" tabindex="-1" aria-disabled="true">New chat</a>
    </li>

</ul>