
<form class="formTopTemplate" id="" action="/channels" method="post">
    <input placeholder="Enter channel name" class="inputTemplate" name="channelNameInput" id="" type="text" autocomplete="off" required/>
    <button type="submit" id="">Create Channel</button>
</form>