<%- include('./components/header')%>
    
    <ul class="messagesTemplate" id="channelMessages"></ul>
    <form class="formTemplate"id="channelForm" action="">
        <input class="inputTemplate" id="channelInput" autocomplete="off" />
        <button id="channelSubmitButton">Send</button>
    </form>
    <input value="<%= user.name %>" id="username" type="text">
    <input value="<%= user._id %>" id="id" type="text">


