<div class="container h-100">
    <ul id="channelPost">
        <li class=" border border-2 h-100 mt-4" >
            <h5>Author</h5>
            <p>Lorem ipsum dolor sit amet,
                consectetur adipisicing elit.
                Vel iure quaerat quam, ab 
                repudiandae commodi blanditiis 
                totam accusamus atque culpa iusto
                reprehenderit, magnam ea dignissimos
                odio qui. Nobis, ab assumenda?
            </p>
            <h6>Date</h6>
        </li>
    </ul>
    <form>
          <div class="fixed-bottom mx-auto w-75 mb-5">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button type="button" class="btn btn-primary">Primary</button>          </div>
        
    </form>
</div>
