<form id="chatInviteForm" action="/chats" method="post">
    <input name="chatInviteInput" id="chatInviteInput" type="email" autocomplete="off" />
    <button type="submit" id="chatInviteButton">Invite</button>
</form>