<ul class="messagesTemplate" id="chatMessages"></ul>

<form class="formTemplate" id="chatForm" action="">
    <input class="inputTemplate" id="chatInput" autocomplete="off" />
    <button class="buttonTemplate" id="chatSubmitButton">Send</button>
</form>