<%- include('components/header') %>

<form class="formTopTemplate" id="chatInviteForm" action="/chats" method="post">
    <input class="inputTemplate" name="chatInviteInput" id="chatInviteInput" type="email" autocomplete="off" />
    <button class="buttonTemplate" type="submit" id="chatInviteButton">Invite</button>
</form>