<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="/user/signin"><button type="button">Sign In</button></a>
        </li>
        <li>
          <a href="/user/new"><button type="button">Sign Up</button></a>
        </li>
      </ul>
    </nav>
  </header>
  
</body>
</html>