<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up!</title>
</head>

<body>
  <form action="/user/signin" method="POST">
    <label>Email Address:
    <input type="text" name="emailInput" id="">
  </label>
  <br>
  <label>Password: 
    <input type="password" name="passwordInput">
  </label>
  <br>
    <button type="submit">Sign In</button>
  </form>
</body>

</html>